header {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.up {
    background-color: #4aaaa5;
    padding-left:20px;
    padding-right:40px;
    position:absolute;
    top:0px;
    width:16%;
    top:0px;
}

h3 {
    float:right;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
    font-size: 14px;
    padding: 20px;
}

.info {
    background-color: #ffffff;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 960px;
    margin: 0px;
}

#content {
    float: left;
    width:960px;
    position:relative;
    margin:20px;
    padding:20px;
}

img {
    
  float:left;
  width:200px;
  padding:20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}
    
footer {
    background-color: #666666;
    border:1px;
    clear:both;
    border-top: 8px solid #4aaaa5;
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    height:40px;
}

    